<div class="error-box container-fluid bg-theme">
    <div class="top text-center">
      <h1 style="color: white; font-size: 100px; display: inline;">OOPs</h1>
      <img
        width="400px"
        src="https://cdn.rawgit.com/ahmedhosna95/upload/1731955f/sad404.svg"
        alt="404"
      />
    </div>
    <h1 class="p-a text-danger"><%=errorMsg %></h1>
  </div>